<div class="form-group">
    <label for="disabledTextInput">AÑO</label>
    <input [formControl]="anho" type="number"  class="form-control" placeholder="Enter año">
</div>
<div class="mb-3">
    <button class="btn btn-primary" (click)="postPrediction()">PREDECIR</button>
</div>

<label>Result: <span>{{input.anho}} </span></label> 

<agm-map 
    [latitude]="lat" 
    [longitude]="lng"
    [zoom]="zoom"
    [disableDefaultUI]="false">
    <agm-circle *ngFor="let p of predictions; let i = index" [latitude]="p.lat" [longitude]="p.lng" 
        [radius]="10000"
        [fillColor]="p.TARGET === 'P+' ? 'red': 'green'"
        [circleDraggable]="true"
        [editable]="true"
        (mouseOver)="onMouseOver(infoWindow)" 
        (mouseOut)="onMouseOut(infoWindow)">
        <!-- (mouseleave)="changeText=false" -->
        <agm-info-window [latitude]="p.lat" [longitude]="p.lng" [disableAutoPan]="false"  #infoWindow>
            <div>
                <span>
                    <b><Strong>Provincia: </Strong> {{p.provincia}}</b>
                    <br>
                    <b><Strong>Fecha: </Strong> {{input.anho}}</b>
                </span>
            </div>
        </agm-info-window>
    </agm-circle>
</agm-map>
